{% extends "main/base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}
{% block heading %}商品{% endblock %}
{% block content %}
<p><a class="btn" href="{% url 'products:productsCreate' %}">新增產品</a></p>

  {% for product in products %}
      <p><a class="btn" href="{% url 'products:productsUpdate' product.id %}">修改</a></p>
      <h3><a href="{% url 'products:productsRead' product.id %}">{{ product.title }}</h3>
      <p>發表時間：{# product.pubDateTime|date:'Y-m-d H:i' #}</p>
      <div class="productsContent">{{ product.content }}</div>
      <hr>
   {% endfor %}
{% endblock %}
{% block script %}
<script src={% static 'main/js/deleteConfirm.js' %}></script>
{% endblock %}