{% extends "main/base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}
{% block heading %}商品{% endblock %}
{% block content %}
<p><a class="btn" href="{% url 'products:productsCreate' %}">新增產品</a></p>

  {% for product in products %}
      <p><a class="btn inlineBlock" href="{% url 'products:productsUpdate' product.id %}">修改</a></p>
      <form class="inlineBlock" method="post" action="{% url 'products:productsDelete' product.id %}">
        {% csrf_token %}
        <input class="btn deleteConfirm" type="submit" value="刪除">
      </form>
      <h3>{{ product.title }}</h3>        
      <div class="productsContent">{{ product.content|linebreaks }}</div>
      <p>{{ product.specifications }}</p> 
      <p>{{ product.price }}</p> 
      <p>{{ product.quantity }}</p> 
      <hr>
   {% endfor %}
{% endblock %}
{% block script %}
<script src={% static 'main/js/deleteConfirm.js' %}></script>
{% endblock %}