{% extends 'main/base.html' %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}
{% block heading %}
  {% if productsForm.instance.id %}
    修改產品
  {% else %}
    新增產品
  {% endif %}
{% endblock %}
{% block content %}
{% if productsForm.instance.id %}
<form method="post" action="{% url 'products:productsUpdate' productsForm.instance.id %}">
{% else %}
<form method="post" action="{% url 'products:productsCreate'%}">
{% endif %}
  {% csrf_token %}
  {{ productsForm.as_p }}
  <input class="btn" type="submit" value="送出">
  <a class="btn" href="{% url 'products:products' %}">放棄</a>
</form>
{% endblock %}