<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>Lemon電器</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    {% block css %}{% endblock %}
  </head>
  <body>
  <nav>
    {% include 'main/menu.html' %}
  </nav>
  {% block header %}{% endblock %}

  
  <aside>這是aside</aside>
  
  <div id="content">
  {% include 'main/messages.html' %}
  <h2>{% block heading %}{% endblock %}</h2>
    
      {% block content %}{% endblock %}
      
  </div>
  
    
  <footer>這是footer</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>