table{
  border: thin solid red;
}
td{
  border: thin solid red;
  /*border: none;*/
  padding: 5px;
}
.photo{
  height:1em;
}
.t1{  
  margin: 0;  
  text-align: center;
  height:20px;
}

.title{
  text-align: center;
}

a{
  text-decoration: none;
}