{% extends "account/frame.html" %}
{% block frame %}
<table class="table4">
<tr>
  <td>會員級別：</td>
  <td class="date">一般會員</th>
</tr>
<tr>
  <td>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</td>
  <td class="date">{{ user.fullName }}</th>
</tr>
<tr>
  <td>生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日：</td>
  <td class="date">{{ user.birthday }}</td>
</tr>
<tr>
  <td>電子信箱：</td>
  <td class="date">{{ user.email }}</td>
</tr>
<tr>
  <td>聯絡電話：</td>
  <td class="date">{{ user.telephone }}</td>
</tr>
<tr>
  <td>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</td>
  <td class="date">{{ user.address }}</td>
</tr>
</table>
{% endblock %}