{% extends "account/frame.html" %}
{% load staticfiles %}
{% block frame %}
<form method="post" action="{% url 'account:ask' %}">
{% csrf_token %}
<table >
    <tr id="askone">
        <td>發問日期</td>
        <td>訂單編號</td>
        <td>問題類型</td>
        <td>發問標題</td>
        <td>處理進度</td>
    </tr>
    <tr>
        <td colspan="5">
        <p>目前無任何詢問紀錄</p>
        </td>
  </tr>
  <tr>
    <td colspan="5">
    {{askForm.as_p}}
    </td>
  </tr>
  <tr>
    <td colspan="5">
    <a class="btn4" hrefhref="{% url 'account:ask' %}">重新填寫</a>
    <input class="btn" type="submit" value="確認送出">
   </td>
  </tr> 
  </table>
 </form>
{% endblock %}