{% extends "account/base2.html" %}
{% block content %}
<table id="frame">
    <tr class="framemenu">
        <th><a class="line" href="{% url 'account:account' %}">會員資料</a></th>
        <th><a class="line" href="{% url 'order:orderCreate' %}">填寫訂單</a></th>
        <th><a class="line" href="{% url 'order:order' %}">訂單查詢</a></th>
        <th><a class="line" href="{% url 'account:ask' %}">問答紀錄</a></th>
    </tr>
    <tr>
        <td class="fcontent" colspan="4">
        {% block frame %}{% endblock %}
        </td>
    </tr>
</table>
{% endblock %}

