{% extends "account/base2.html" %}
{% load staticfiles %}
{% block content %}
<form method="post" action="{% url 'account:login' %}">
 {% csrf_token %}
 <table border="1">
  <tr>
    <td><p class="title">會員登入</p></td>
  </tr>
    <td>
    <p><input class="form-control" type="text" name="username" placeholder="帳號（E-mail）" ></p>

    <p><input class="form-control" type="password" name="password" placeholder="密碼"></p>
    </td>
  </tr>
    <td><input class="btn2" type="submit" value="登入"></td>
  </tr>
    <td><a class="line" href="{% url 'account:register' %}">立即註冊</a></th>
  </tr>
</table> 
</form>
{% endblock %}