{% extends "main/base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'account/css/account.css' %}">
{% endblock %}
{% block content %}
<form method="post" action="{% url 'account:register' %}">
    {% csrf_token %}
  <table border="1">
  <tr>
    <td><p class="title">加入會員</p></td>
  </tr>
  <tr>
   <td class="form">
    {{ userForm.as_p }}
    </td>
  </tr>
  <tr>
    <td><input type="submit" value="註冊"></th>
  </tr>
  <tr>
    <td><p class="line">已經加入會員？ <a class="line" href="{% url 'account:login' %}">按此登入</a></p></th>
  </tr>  
  </table> 
</form>
{% endblock %} 