* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

#wrapper {
  width:1005px;/* 960px */
  min-width: 1005px;
  margin: 0 auto;
  border: 1px solid red;
}

nav {
  min-width: 1000px;
  border: 1px solid #f2f2f2;
}

#winter{
  width:100%;
  height:359px;
}
header {
  height:361px;
  border: 1px solid #f2f2f2;
}
aside {
  height: auto;
  min-width: 185px;

  float: left;
  border: 1px solid #f2f2f2;
}

div#content {
  width: 815px;
  min-width: 812px;
  height: auto;
  min-height: 30em;
  float: left;
  border: 1px solid #f2f2f2;
}

footer {
  clear: both;
  border: 1px solid #f2f2f2;
}

#one{
  padding:0.2em ;
  background-color:#64B5F7;
}

div#Lemon{
  font-size:1.5em;
  color:#0D47A0;
}
ul li {
  display: inline-block;
  
}

ul a{
  text-decoration: none;
  font-size: 16px;
}

ul#menu {
  text-align: right;
  background-color: #64B5F7;
  border: thin solid #64B5F7;
  padding: 0.3em;
  margin: 0;
}

ul#menu li{
   border-right: 1px solid #1A76D2;   
}

ul#menu a {   /* 大多數的按鈕外觀在此設定 */
  display: block;
  padding: 0 1em;  
  color: white;
}

ul#menu li:last-child {
  border-right: none;   
}

ul#menu2 {
  text-align: center;
  border-right:: 1px solid #f2f2f2;
  background-color: white;
  padding:0.2em;
  margin: 0;
}
ul#menu2 li{
  border-right:1px solid #f2f2f2;
}

ul#menu2 a {                  /* 大多數的按鈕外觀在此設定 */
  display: block;           /* 區塊顯示，因此允許設定 padding */
  color: black;
  padding: 0 3em;       /* 按鈕尺寸由 <a> 撐開 */
}
ul#menu2 li:last-child {
  border-right: none;  
}

ul#asidetwo {
  margin:0;
  padding:0;
}
ul#asidetwo ul{
  display: none;
}
ul#asidetwo li:hover>ul{
  display: block;
  padding:0;
  list-style-type: disc;
  
}
ul#asidetwo a{
  color: black;
}
ul#asidetwo a:hover{
  background-color: #ef5c28;
        color: #fff;
}
ul#asidetwo li{
  display: block;
  padding: 10px 10px;
  text-align:left;
  
}
ul#aside3{
  list-style-type: disc; 
}
ul#footerone{
  display: inline-block;
  
}

ul#footerone li{
  display: block;
  padding: 1px 50px;
  text-align:left;
  
}
#footertwo {
  text-align:center;
}
p#footer3{
  padding: 10px 10px;
  text-align:center;
  border: 1px solid #E0E0E0;
  margin:0;
}
p#asideone {
  color:white;
  font-size:1.5em;
  padding:  0 10px;
  background-color: #64B5F7;
  margin:0;
  
}

/* Button */
.btn {
  display: inline-block;
  color: white;
  font-size: 16px;
  padding: 0.2em 1em;
  text-decoration: none;
  border: 1px solid #457acc;
  background:#457acc;
}

.btn2{
  background-color:#ff4447;
  color:White;  
  font-size: 18px;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ff4447;  
  text-align: center;
}

.btn3{
  background-color:#ffd00a;
  color:White;  
  font-size: 18px;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ffd00a;  
  text-align: center;
}
.btn4 {
  display: inline-block;
  color: #888a85;
  font-size: 16px;
  padding: 0.2em 1em;
  text-decoration: none;
  border: 1px solid #888a85;
  background:white;
}

/* Misc */
.inlineBlock {
  display: inline-block;
}

/* Messages */
.success, .error {
  padding: 1em 0 1em 3em;
}

.success {
  background-color: #ddffdd;
  border: thin solid green;
}

.error {
  background-color: #fbd9d8;
  border: thin solid red;
}

