{% extends 'account/base2.html' %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'product/css/product.css' %}">
{% endblock %}
{% block heading %}
  {% if productForm.instance.id %}
    修改產品
  {% else %}
    新增產品
  {% endif %}
{% endblock %}
{% block content %}
{% if productForm.instance.id %}
<form method="post" action="{% url 'product:productUpdate' productForm.instance.id %}">
{% else %}
<form method="post" action="{% url 'product:productCreate'%}">
{% endif %}
  {% csrf_token %}
  <table class="createproduct" border="1">
  <tr>
  {{ productForm.as_table }}
  </tr>
  <tr>
    <td colspan="2">
    <input class="btn" type="submit" value="送出">
  	<a class="btn4" href="{% url 'product:product' %}">放棄</a>
 	 </td>
  </tr> 
  </table> 
  
</form>
{% endblock %}