{% extends "main/base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'product/css/product.css' %}">
{% endblock %}
{% block content %}
<div><a class="btn" href="{% url 'product:productCreate' %}">新增產品</a></div>
  {% for product in products %}    
<table border="1" class="inlineBlock">
  <tr>
    <td class="photo"><img src="/static/product/img/01.jpg"></td>
  </tr>
  <tr>
    <td><p class="t1"><a href="{% url 'product:productRead' product.id %}">{{ product.title }}</a></p></td>
  </tr>
  <tr>
    <td><p class="t1">售價${{ product.price }}</p></td>
  </tr>
  <tr>
	<td align="center">
	  <p class="inlineBlock t1"><a class="btn" href="{% url 'product:productUpdate' product.id %}">修改</a></p>
      <form class="inlineBlock" method="post" action="{% url 'product:productDelete' product.id %}">
        {% csrf_token %}
        <input class="btn deleteConfirm" type="submit" value="刪除">
      </form> 
    </td>
  </tr> 
</table>
   {% endfor %}
{% endblock %}
{% block script %}
<script src={% static 'main/js/deleteConfirm.js' %}></script>
{% endblock %}