{% extends "main/base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'product/css/product.css' %}">
{% endblock %}
{% block content %}
<div class="left">
<img class="photo" src="{% static 'product/img/' %}{{product.id}}.jpg">
</div>
	<div class="right">
      <h3 class="inlineBlock">{{ product.title }}</h3>
      {% if user.is_superuser %}
      <p class="inlineBlock"><a class="btn" href="{% url 'product:productUpdate' product.id %}">修改</a></p>
      <form class="inlineBlock" method="post" action="{% url 'product:productDelete' product.id %}">
        {% csrf_token %}
        <input class="btn deleteConfirm" type="submit" value="刪除">
      </form>      
      {% endif %} 
      <hr>
      <table class="table3">
		<tr>
		  <td><p class="title">產品介紹</p></td>
		  <td><div class="productContent">{{ product.content|linebreaks }}</div></td>
		</tr>
		<tr>
		  <td><p class="title">規格</p></td>
		  <td><p>{{ product.specifications }}</p> </td>
		</tr>
        <tr>
          <td><p class="title">品牌</p></td>
          <td><p>{{ product.brand }}</p> </td>
        </tr>
		<tr>
		  <td><p class="title">價錢</p></td>
		  <td><p class="red">{{ product.price }}</p> </td>
		</tr>
		<tr>
		  <td><p class="title">數量</p></td>
		  <td><p class="red">{{ product.quantity }}</p> </td>
		</tr>
     {% if user.is_authenticated %}
    <tr>
        <td colspan="2"><p class="buy"><a class="btn2" href="{% url 'order:orderCreate' product.id %}">直接購買</a></p></td>
    </tr>
    {% else %}
    <tr>
        <td colspan="2"><p class="buy"><a class="btn2" href="{% url 'account:login' %}">直接購買</a></p></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:center"><p>購買前請先登入</p></td>
    </tr>
    {% endif %}
		</table>
    

	</div>
{% endblock %}
{% block script %}
<script src={% static 'main/js/deleteConfirm.js' %}></script>
{% endblock %}